main {
  min-height: 600px;
}


#section-banner {
  min-height: 500px;
}

#section-banner img {
  height: 800px;

}

h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 5px;
  padding-top: 10px;
  color: green;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: auto;
}

mat-grid-list {
  margin: 10px 0px;
}

mat-grid-tile {
  padding: 2px;
  border-radius: 30px;
}

mat-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

mat-card-actions {
  display: flex;
  justify-content: space-around;
}

mat-card-actions p {
  color:blue;
  font-size: 30px;
  font-weight: bold;
}

mat-card-actions button {
  color: green;
  font-weight: bold;
  font-size: 20px;
}

mat-card-content {
  color:grey;
  font-size: 20px;
}


mat-card img {
  height: 300px;
  width: 300px;
}